.navigation-weather-forecast {
    display: flex;
    gap: 50px;
    font-weight: 600;
    justify-content: center;
    margin: 10px 0;
}

.navigation-weather-forecast a {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid white;
    font-size: 18px;
    font-style: 700px;
    color: white;
    margin: 0;
}

.navigation-weather-forecast li a:hover {
    color: #07437e;
    background: white;
}

.navigation-weather-forecast li .active {
    color: #07437e;
    background: white;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navigation-weather-forecast {
        gap: 30px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .navigation-weather-forecast {
        gap: 20px;
    }
}

@media screen and (max-width: 576px) {
    .navigation-weather-forecast {
        gap: 10px;
    }
}